flow_1.json
[{"id":"2ea3b522.304f12","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1cee609e.542cd7","type":"openweathermap","z":"2ea3b522.30 4f12","name":"Weather","wtype":"current","lon":"","lat":"","city":"Cairo","country":"Egypt","languag e":"en","x":345.5,"y":294,"wires":[["792029f1.6cbf68","bab1044d.71a5c8","a0c52e18.08dc98","9 89751cf.73b028"]]},{"id":"792029f1.6cbf68","type":"debug","z":"2ea3b522.304f12","name":"","acti ve":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":678.5,"y":297," wires":[]},{"id":"cd8130b.6731ed","type":"inject","z":"2ea3b522.304f12","name":"1 sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay ":0.1,"x":103.5,"y":295,"wires":[["1cee609e.542cd7"]]},{"id":"124943f6.7f3cf4","type":"ui_chart","z ":"2ea3b522.304f12","name":"","group":"ccfbfbc9.f83128","order":1,"width":0,"height":0,"label":"T emperature Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"remov eOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4 ","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"], "useOldStyle":false,"x":698.5,"y":475,"wires":[[],[]]},{"id":"bab1044d.71a5c8","type":"change","z":" 2ea3b522.304f12","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":" ","property":"","from":"","to":"","reg":false,"x":392.5,"y":581,"wires":[["a6a9ccf2.0ad138","d24d0ba 2.7186a"]]},{"id":"a0c52e18.08dc98","type":"change","z":"2ea3b522.304f12","name":"Extract Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action": "","property":"","from":"","to":"","reg":false,"x":366.5,"y":685,"wires":[["cb7d9b8d.0e7768","1c1659 28.5f5de7"]]},{"id":"a6a9ccf2.0ad138","type":"ui_text","z":"2ea3b522.304f12","group":"b2768e3f. 6a0ac","order":0,"width":0,"height":0,"name":"","label":"Current Humidity ","format":"{{msg.payload}} %","layout":"row- left","x":700.5,"y":533,"wires":[]},{"id":"d24d0ba2.7186a","type":"ui_chart","z":"2ea3b522.304f12", "name":"","group":"b2768e3f.6a0ac","order":1,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"remov eOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4 ","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"], "useOldStyle":false,"x":689.5,"y":581,"wires":[[],[]]},{"id":"1c165928.5f5de7","type":"ui_chart","z":" 2ea3b522.304f12","name":"","group":"acd60ab1.8f67a","order":1,"width":0,"height":0,"label":"Pre ssure Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"remov eOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1F77B4 ","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"], "useOldStyle":false,"x":689.5,"y":690,"wires":[[],[]]},{"id":"cb7d9b8d.0e7768","type":"ui_text","z":" 2ea3b522.304f12","group":"acd60ab1.8f67a","order":2,"width":0,"height":0,"name":"","label":"Cur rent Pressure ","format":"{{msg.payload}} mb","layout":"row- left","x":700.5,"y":639,"wires":[]},{"id":"f74d14ad.109678","type":"ui_text","z":"2ea3b522.304f12"," group":"ccfbfbc9.f83128","order":2,"width":0,"height":0,"name":"","label":"Current Temperature ","format":"{{msg.payload}} °C","layout":"row- left","x":708.5,"y":418,"wires":[]},{"id":"72bb91f7.50804","type":"openweathermap","z":"2ea3b522.304f12","name":"Weather","wtype":"current","lon":"","lat":"","city":"Cairo","country":"Egypt","lang uage":"en","x":340,"y":782,"wires":[["2cb2ed8d.0d758a","466047b6.71a0c8"]]},{"id":"1f4b7528.4 b77a3","type":"inject","z":"2ea3b522.304f12","name":"2 h","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"onceDela y":0.1,"x":106,"y":783,"wires":[["72bb91f7.50804"]]},{"id":"2cb2ed8d.0d758a","type":"ui_text","z":" 2ea3b522.304f12","group":"b4e4526f.83a718","order":0,"width":0,"height":0,"name":"","label":"W eather Info","format":"{{msg.payload.description}}","layout":"row- spread","x":681,"y":783,"wires":[]},{"id":"466047b6.71a0c8","type":"function","z":"2ea3b522.304f 12","name":"date & time","func":"var currentDateΤime = new Date();\nvar monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear()+'\\t'+(currentDateΤime.getHours() < 10 ? \"0\" : \"\") + currentDateΤime.getHours() + \":\" + (currentDateΤime.getMinutes() < 10 ? \"0\" : \"\") + currentDateΤime.getMinutes() + \":\" + (currentDateΤime.getSeconds() < 10 ? \"0\" : \"\") + currentDateΤime.getSeconds();\nmsg.topic = monthDateYear;\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":877,"wires":[["946e2a86.9f0f48"]]},{"id":"946e2a86.9f0f48" ,"type":"ui_text","z":"2ea3b522.304f12","group":"b4e4526f.83a718","order":1,"width":"0","height": "0","name":" display datetime","label":"","format":"{{msg.topic}}","layout":"row- left","x":694,"y":877,"wires":[]},{"id":"989751cf.73b028","type":"change","z":"2ea3b522.304f12","n ame":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action ":"","property":"","from":"","to":"","reg":false,"x":424.5,"y":476,"wires":[["124943f6.7f3cf4","f74d14 ad.109678"]]},{"id":"ccfbfbc9.f83128","type":"ui_group","z":"","name":"Temperature","tab":"2e7de f42.b27168","disp":true,"width":"6","collapse":false},{"id":"b2768e3f.6a0ac","type":"ui_group","z": "","name":"Humidity","tab":"2e7def42.b27168","order":3,"disp":true,"width":"6","collapse":false},{" id":"acd60ab1.8f67a","type":"ui_group","z":"","name":"Pressure","tab":"2e7def42.b27168","disp":t rue,"width":"7","collapse":false},{"id":"b4e4526f.83a718","type":"ui_group","z":"","name":"Weathe r Description","tab":"2e7def42.b27168","disp":true,"width":"6","collapse":false},{"id":"2e7def42.b27 168","type":"ui_tab","z":"","name":"Cairo's Weather","icon":"dashboard","disabled":false,"hidden":false}]