flow_2.json
[{"id":"2f8b00ff.559558","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"595eea66.7e9544","type":"sqlite","z":"2f8b00ff.559558","mydb" :"714c8c86.d62704","sqlquery":"msg.topic","sql":"","name":"weather.db","x":639,"y":120,"wires":[ ["7e7e5494.06dab4"]]},{"id":"d37ba947.f56fc","type":"inject","z":"2f8b00ff.559558","name":"CRE ATE WEATHER TABLE","topic":"CREATE TABLE weather(date TEXT,time TEXT,temperature NUMERIC, humidity NUMERIC, pressure NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay": 0.1,"x":253.99999237060547,"y":118,"wires":[["595eea66.7e9544"]]},{"id":"ad9d138a.312298","t ype":"inject","z":"2f8b00ff.559558","name":"INSERT 5s","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay ":0.1,"x":211,"y":445,"wires":[["a6c7173c.6e7d7"]]},{"id":"7e7e5494.06dab4","type":"debug","z":"2 f8b00ff.559558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complet e":"payload","x":822.000244140625,"y":120,"wires":[]},{"id":"c9d7c514.24492","type":"function"," z":"2f8b00ff.559558","name":"insert data 5s","func":"var currentDateΤime = new Date();\nvar monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear();\nmonthDateYear = \"'\" + monthDateYear + \"'\";\nvar time = (currentDateΤime.getHours() < 10 ? \"0\" : \"\") + currentDateΤime.getHours() + \":\" + (currentDateΤime.getMinutes() < 10 ? \"0\" : \"\") + currentDateΤime.getMinutes() + \":\" + (currentDateΤime.getSeconds() < 10 ? \"0\" : \"\") + currentDateΤime.getSeconds();\ntime = \"'\" + time + \"'\";\nvar newMsg = {\n \"topic\": \"INSERT INTO weather VALUES ( \" + monthDateYear +\",\" + time + \",\" + msg.payload.tempc + \", \" + msg.payload.humidity + \",\"+msg.payload.pressure+\")\"\n}\nreturn newMsg;","outputs":1,"noerr":0,"x":482,"y":220,"wires":[["595eea66.7e9544"]]},{"id":"a67e6ed.e1 0571","type":"function","z":"2f8b00ff.559558","name":"compute avg 2h","func":"var currentTime = new Date().getTime();\nvar bool = 0;\nif (!context.lastTime) {\n context.lastTime = currentTime;\n context.sumt = msg.payload.tempc;\n context.sumh = msg.payload.humidity;\n context.count = 1;\n}\nif (currentTime-context.lastTime > 7200000) {\n // calculate average for previous messages\n context.averaget = context.sumt/context.count;\n context.averageh = context.sumh/context.count;\n // start tracking average again\n context.sumt = msg.payload.tempc;\n context.sumh = msg.payload.humidity;\n context.count = 1;\n context.lastTime = currentTime;\n bool = 1;\n} else {\n context.sumt += msg.payload.tempc;\n context.sumh += msg.payload.humidity;\n context.count +=1;\n}\n\nif (bool == 1){\n var currentDateΤime = new Date();\n var monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear();\n monthDateYear = \"'\" + monthDateYear + \"'\";\n var time = currentDateΤime.getHours() + ':'+ ((currentDateΤime.getMinutes() < 10) ? (\"0\" + currentDateΤime.getMinutes()) : (currentDateΤime.getMinutes()));\n time = \"'\" + time + \"'\";\n msg = {\n \"topic\": \"INSERT INTO averages (date,time,av_temp, av_humidity) VALUES (\"+monthDateYear+\",\"+time+\",\"+context.averaget+\",\"+context.averageh+\")\"\n }\n bool = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":708.0250244140625,"y":444.580322265625,"wires":[["1f5c2733. 0be799"]]},{"id":"9fcd9650.9c5b5","type":"inject","z":"2f8b00ff.559558","name":"CREATE AVERAGE TABLE","topic":"CREATE TABLE averages (date TEXT,time TEXT,av_temp NUMERIC, av_humidity NUMERIC)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay": 0.1,"x":247.0250244140625,"y":296.580322265625,"wires":[["1f5c2733.0be799"]]},{"id":"1f5c273 3.0be799","type":"sqlite","z":"2f8b00ff.559558","mydb":"714c8c86.d62704","sqlquery":"msg.topic ","sql":"","name":"weather.db","x":651.0250244140625,"y":301.580322265625,"wires":[["637d6d 15.7a3ce4"]]},{"id":"a6c7173c.6e7d7","type":"openweathermap","z":"2f8b00ff.559558","name":" Weather Description","wtype":"current","lon":"","lat":"","city":"Cairo","country":"Egypt","language":"en","x": 460,"y":444,"wires":[["c9d7c514.24492","a67e6ed.e10571"]]},{"id":"305d57ba.a13428","type":"inj ect","z":"2f8b00ff.559558","name":"SELECT AVERAGE TABLE","topic":"SELECT * FROM averages","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDela y":0.1,"x":263.99999237060547,"y":559.9999389648438,"wires":[["2d10b698.1adf6a"]]},{"id":"2d 10b698.1adf6a","type":"sqlite","z":"2f8b00ff.559558","mydb":"714c8c86.d62704","sqlquery":"ms g.topic","sql":"","name":"weather.db","x":625,"y":560,"wires":[["89b5ea5c.30b5b8"]]},{"id":"89b5e a5c.30b5b8","type":"ui_template","z":"2f8b00ff.559558","group":"df6f47b5.d14308","name":"","or der":2,"width":"6","height":"7","format":"<table style=\"width:100%\">\n <tr>\n
<th>Index</th>\n <th>Date</th>\n <th></th>\n <th></th>\n <th>Time</th>\n <th></th>\n <th></th>\n <th>Average Temperature</th>\n <th></th>\n <th></th>\n <th>Average Humidity</th> \n </tr>\n <tr ng-repeat=\"x in msg.payload\">\n <td align='center'>{{$index +1}}</td>\n <td align='center'>{{msg.payload[$index].date}}</td>\n <td></td>\n <td></td>\n <td align='center'>{{msg.payload[$index].time}}</td>\n
<td></td>\n <td></td>\n <td align='center'>{{msg.payload[$index].av_temp | number:2}} °C </td>\n <td></td>\n <td></td>\n <td align='center'>{{msg.payload[$index].av_humidity | number:2}} %</td> </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":825 ,"y":560,"wires":[[]]},{"id":"637d6d15.7a3ce4","type":"debug","z":"2f8b00ff.559558","name":"","act ive":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":831,"y":302," wires":[]},{"id":"714c8c86.d62704","type":"sqlitedb","z":"","db":"/Users/eirinimitsopoulou/Desktop/ weatherdb.db","mode":"RWC"},{"id":"df6f47b5.d14308","type":"ui_group","z":"","name":"Average Weather Conditions","tab":"2e7def42.b27168","order":1,"disp":true,"width":"6","collapse":false},{"id":"2e7d ef42.b27168","type":"ui_tab","z":"","name":"Cairo's Weather","icon":"dashboard","disabled":false,"hidden":false}]
